<%- include('partials/header'); -%>

<section class="container-fluid">
<h1>Home</h1>
<p><%= homeDescription %></p>

<% for (var i = o; i<newContent.length; i++) { %>
    <h1> <%= newContent.postTitle[i] %> </h1>
    <p> <%= %> </p>
<% } %>
</section>

<%- include('partials/footer'); -%>