<%- include('partials/header'); -%>

<section class="container-fluid">
    <h1>Home</h1>
    <p><%= homeDescription %></p>


    <% updateAll.forEach(function(all) { %>
    <h1> <%= all.postTitle %> </h1>
    <p> <%= all.postContent %> </p>
    <% }); %>






    <%- include('partials/footer'); -%>